<div class="roundbox">
  <h1><%= link_to topic.title, group_topic_path(topic.group, topic) %></h1>
  <p><%= topic.preview %></p>
  <footer>
  <%= link_to topic.group.name, group_path(topic.group) %>
  <%= link_to topic.user.username, user_path(topic.user) %>
  </footer>
</div>
